<!DOCTYPE HTML>
<html>
    <% include partials/head.ejs %>
    <body>
        <% include partials/header.ejs %>
        <% if(typeof(toppingsChosen) !== 'undefined') {%>
            <%= toppingsChosen.anchovies %> 
        <%    } %>
        <form class="form-main content-main" action="/order" method="post">
            <!--Show value to the text boxes if user entry has errors -->
            <div id="form-personal-information">
                <!--name-->
                Name: <input type="text" name="name" value=
                "<%if(typeof(name) !== 'undefined'){%><%=name%><%}%>" > 
                <% if(typeof(nameError) !== 'undefined') {%>
                    <%= nameError %> 
                <%    } %>
                <br>

                <!--phone number-->
                Phone Number: <input type="text" name="phoneNumber" value =
                "<% if(typeof(phoneNumber) !== 'undefined'){ %><%=phoneNumber%><%} %>" > 
                <% if(typeof(phoneError) !== 'undefined') {%>
                    <%= phoneError %> 
                <%    } %>
                <br>

                <!--street address-->
                Street Address: <input type="text" name="streetAddress" value =
                "<% if(typeof(streetAddress) !== 'undefined'){ %><%=streetAddress%><%} %>" > 
                <% if(typeof(addressError) !== 'undefined') {%>
                    <%= addressError %> 
                <%    } %>
                <br>

                <!--Unit number, optional so no validation. As intended! -->
                Unit Number (Optional): <input type="text" name="unitNumber">
                <br>

                <!--city-->
                City: <input type="text" name="city" value=
                "<% if(typeof(city) !== 'undefined'){ %><%=city%><%} %>" > 
                <% if(typeof(cityError) !== 'undefined') {%>
                    <%= cityError %> 
                <%    } %>
                <br>

                <!--postal code -->
                Postal Code: <input type="text" name="postalCode" value=
                "<% if(typeof(postalCode) !== 'undefined'){ %><%=postalCode%><%} %>" > 
                <% if(typeof(postalCodeError) !== 'undefined') {%>
                    <%= postalCodeError %> 
                 <%    } %>
                <br>
            </div>
            <div>
                Quantity: <select class="pizza-quantity" name="pizzaQuantity"></select>
            </div>
            <div>
                <h3>
                    Choose your size
                </h3>
            </div>
            <div>
                <input type="radio" name="pizzaSize" value=<%= size.personal %> id="pizza-size-personal" checked=false /><%= size.personal %> $<%= sizeCost.personal %>
                <input type="radio" name="pizzaSize" value=<%= size.small %>  id="pizza-size-small" /><%= size.small %> $<%= sizeCost.small %>
                <input type="radio" name="pizzaSize" value=<%= size.medium %> id="pizza-size-small" /><%= size.medium %> $<%= sizeCost.medium %>
                <input type="radio" name="pizzaSize" value=<%= size.large %> id="pizza-size-small" /><%= size.large %> $<%= sizeCost.large %>
            </div>
            <div>
                <h3>
                    Choose your crust
                </h3>
            </div>
            <div>
                <input type="radio" name="pizzaCrust" value=<%= crust.original %> checked=true><%= crust.original %> <%= crustCost.original %>
                <input type="radio" name="pizzaCrust" value=<%= crust.thin %>><%= crust.thin %> <%= crustCost.thin %>
                <input type="radio" name="pizzaCrust" value=<%= crust.multigrain %>><%= crust.multigrain %> $<%= crustCost.multigrain %>
                <input type="radio" name="pizzaCrust" value=<%= crust.multigrainThin %>><%= crust.multigrainThin %> $<%= crustCost.multigrainThin %>
            </div>
            <div>
                <h3>
                    Choose your toppings
                </h3>
            </div>
            <div>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.anchovies %> /><%=toppings.anchovies %> $<%= toppingsCost.anchovies %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.bacon %> /><%=toppings.bacon %> $<%= toppingsCost.bacon %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.bananaPeppers %> /><%=toppings.bananaPeppers %> $<%= toppingsCost.bananaPeppers %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.cheese %> /><%=toppings.cheese %> $<%= toppingsCost.cheese %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.chicken %> /><%=toppings.chicken %> $<%= toppingsCost.chicken %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.corn %> /><%=toppings.corn %> $<%= toppingsCost.corn %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.pepperoni %> /><%=toppings.pepperoni %> $<%= toppingsCost.pepperoni %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.pineapple %> /><%=toppings.pineapple %> $<%= toppingsCost.pineapple %>
                <input type="checkbox" name="pizzaToppings" value=<%= toppings.olives %> /><%=toppings.olives %> $<%= toppingsCost.olives %>
            </div>
            <br>
            <input type="submit" name="submit" value="Order My Pizza!" id="order-submit">
        </form>

        <% include partials/footer.ejs %>
    </body>
</html>

