<!DOCTYPE HTML>
<html>
   <% include partials/head.ejs %>
    <body>
        <% include partials/header.ejs %>

        <%= size %>
        <%= sizeCost %>
        <br>
        <%= crust %>
        <%= crustCost %>
        <br>
        <ul>
            <li>
                <%= toppings %>
            </li>
        </ul>
        <br>
        <h3>
            Name: <%= name %>
        </h3>
        <p>
            Phone Number: <%= phoneNumber %>
        </p>
        <p>
            Street Address: <%= streetAddress %>
        </p>
        <p>
            Unit Number: <%= unitNumber %>
        </p>
        <p>
            City: <%= city %>
        </p>
        <p>
            Postal Code: <%= postalCode %>
        </p>
        <p>
            Number of pizzas: <%= quantity %> <br>
            Your Pizza size cost is $<%= sizeCost %> <br>
            Your Pizza crust cost is $<%= crustCost %> <br>
            Your Pizza toppings cost is $<%= toppingsCost %> <br>
            Your total Cost is $<%= totalCost %>
        </p>
        <% include partials/footer.ejs %>
    </body>
</html>