<!DOCTYPE HTML>
<html>
   <% include partials/head.ejs %>
    <body>
        <% include partials/header.ejs %>
        <div class='content-main'>
            <!--Pizza Choice Info -->
            <div id='border-line'>
                <h4>Pizza Size Chosen: <%= size.toUpperCase();%>, which is $<%=sizeCost.toFixed(2)%></h4>
                <h4>PIzza Crust Chosen: <%= crust.toUpperCase()%>, which is $<%=crustCost.toFixed(2)%></h4>
                <h4 id='toppings-chosen'>Toppings Chosen:  <% if(typeof(toppings) === 'undefined') {%>None<%}%></h4>
                <ul>
                    <% if(typeof(toppings) !== 'undefined') { %><% if(typeof(toppings) === 'string'){%><li><%=toppings%></li><%} else {%> <% for(let i = 0; i < toppings.length; i++){ %><li><%= toppings[i].charAt(0).toUpperCase() + toppings[i].slice(1); %></li><% } %> 
                        <%}%>
                    <%}%>
                </ul>
            </div><!--End of Pizza Choice info -->
        
            <br>
            <h3>
                Name: <%=name.toUpperCase()%>
            </h3>
            <p>
                Phone Number: <%= phoneNumber %>
            </p>
            <p>
                Street Address: <%=streetAddress.charAt(0).toUpperCase() + streetAddress.substring(1).toLowerCase(); %>
            </p>
            <p>
                Unit Number: <%= unitNumber %>
            </p>
            <p>
                City: <%= city.charAt(0).toUpperCase() + city.slice(1); %>
            </p>
            <p>
                Postal Code: <%= postalCode.toUpperCase(); %>
            </p>
            <p>
                Number of pizzas: <%= quantity %> <br>
                Your Pizza size cost is $<%= sizeCost.toFixed(2) %> <br>
                Your Pizza crust cost is $<%= crustCost.toFixed(2) %> <br>
                Your Pizza toppings cost is $<%= toppingsCost.toFixed(2) %> <br>
                Your total Cost is $<%= totalCost.toFixed(2) %>
            </p>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>