<!DOCTYPE HTML>
<html>
   <% include partials/head.ejs %>
    <body>
        <% include partials/header.ejs %>

        <%= size %>
        <%= sizeCost %>
        <br>
        <%= crust %>
        <%= crustCost %>
        <br>
        <ul>
            <li>
                <%= toppings %>
            </li>
        </ul>
        <br>
        <h3>
            <%= name %>
        </h3>
        <p>
            <%= phoneNumber %>
        </p>
        <p>
            <%= streetAddress %>
        </p>
        <p>
            <%= unitNumber %>
        </p>
        <p>
            <%= city %>
        </p>
        <p>
            <%= postalCode %>
        </p>
        <p>
            Your Pizza size cost is $<%= sizeCost %> <br>
            Your Pizza crust cost is $<%= crustCost %> <br>
            Your Pizza toppings cost is $<%= toppingsCost %> <br>
            Your total Cost is $<%= totalCost %>
        </p>
        <% include partials/footer.ejs %>
    </body>
</html>